body{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}

button{
    margin-top: 20px;
    height: 35px;
    border-radius: 5px;
    padding-top: 10px auto;
    background-color: #162252e2;
    font-size: 15px;
    outline-style: none;
    width: 10%;
    color:white;
    box-shadow: 2px 2px 2px 2px #162252; 
    font-weight: bold;
    cursor: pointer;
    
  }

  button:hover{
    outline: #fff;
    background-color: #020826;
    
  }

  #buttons{
    border-radius: 5px;
    box-shadow:2px 2px 2px #ccc;
    float: right;
  }

select{
    width: 50%;
    height: 50px;
    margin-top: 80px;
border-radius: 10px;
margin-bottom: 0;
cursor:pointer;
margin: 40px 60px 20px 120px
}

select:focus{
    outline: none
}

table{
    border-collapse: collapse;
    /* width: 50%; */
    margin:  auto;
    width: 80%;
    margin-top: 40px;
    margin-top: 100px
    
}
th{
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    background-color:#162252;
    color: #fff;
}
td{
    height: 30px;
}


th,td{
    padding: 10px;
    text-align: left;
    /* background-color:rgb(238, 75, 189); */
    border-bottom: 1px solid black;
}

tr:nth-child(odd) {background-color:#eee; }

    @media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
    
        table { 
              width: 100%; 
        }
    
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: 1px solid #ccc; }
        
        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
        }
    
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
            /* Label the data */
            content: attr(data-column);
    
            color: #000;
            font-weight: bold;
        }
    
    }

    