body{
    margin: 0px;
    background-color: #efe8dc;
}

.productAdd{
    margin: 3%;
    border: 1px solid rgb(190, 181, 181);
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 5px;
    padding-bottom: 70px;
}


.field{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

}
form{
    margin: 0px auto;
    width: 60%;
}

#btn{
    display: block;
    flex: 80%;
    justify-self: center;
    width: 40%;
    align-self: center;
    margin: 0 auto;
    box-shadow: 2px 2px 2px #aaaa;
    border-radius: 5px;
    margin-top: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #162252;
    color: #ccc;
    font-weight: bold;
}

#btn:hover{
    background-color: #ccc;
    color: #162252;
}

input{
    border-radius: 5px;
    height: 40px;
    flex: 1;
}
label{
    height: 40px;
    margin-right: 20px;
    /* background-color: pink; */
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
    width: 30%;
    background-color: #162252;
    color: white;
    padding-left: 15px;
}
textarea{
    flex: 1;
}

h1{
    text-align: center;
    padding-top: 50px;
    color: #162252;
}