
body{
  margin: 0px auto;
  font-family: 'segoe ui';
  /* background-image: url('../images/imagee.jpg') no-repeat; */
 background-color: #efe8dc;
 background-size: contain;
 height: 100vh;
}

.formGroup{
    margin: 0 auto;
    width: 35%;
    text-align: center;
    min-height: 450px;
    padding-top: 3%;
    border-radius: 10px;
    background-color:#162252;
    box-shadow: 2px 2px 2px rgb(11, 1, 107) ;
   margin-top: 30px;

}
.input {
display: block;
margin: 20px auto;
width: 60%;
border-radius: 5px;
border: 1px solid #ccc;
background-color: #efe8dc;
padding: 10px;
height: 50px;
text-align: center;
}

.input:focus, .input:active{
    outline: none;
    background-color: #efe8dc;
}

* {
    box-sizing: border-box;
  }
  

  h1{
    color:#fff;
    font-size: 50px;
    font-family: 'segoe ui';
   
  }
  #h1{
    color: #162252;
    text-align: center;
    font-family: 'segoe ui';
  }

  ::placeholder{
    font-style: italic;
    padding: 3px;
  }

  .username{
    margin-top: 25px;
  }
  .btn{
    margin-top: 20px;
    height: 35px;
    border-radius: 5px;
    padding-top: 10px auto;
    background-color: #162252e2;
    font-size: 15px;
    outline-style: none;
    width: 30%;
    color:white;
    box-shadow: 2px 2px 2px 2px #162252; 
    font-weight: bold;
    
  }

  .btn:hover{
    outline: #fff;
    background-color: #020826;
    
  }
  
  /* beginning of navbar */
  