body{
    margin: 0px;
   background-color: #efe9e1;

}
.userAdd{
    margin: 3%;
    border: 1px solid rgba(168, 206, 241, 0.281);
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 5px;
    padding-bottom: 70px;
    
   
}

#buttons{
    border-radius: 5px;
    box-shadow:2px 2px 2px #ccc;
    float: right;
}

table{
    border-collapse: collapse;
    /* width: 50%; */
    margin:  auto;
    width: 80%;
    
}
th{
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    background-color:#162252;
    color: #fff;
}
td{
    height: 30px;
}

th,td{
    padding: 10px;
    text-align: left;
    /* background-color:rgb(238, 75, 189); */
    border-bottom: 1px solid black;
}

tr:nth-child() {background-color:#eee; }


h1{
    text-align: center;
    color: black;
    margin-top: 70px;
    padding-bottom: 40px;
    font-family: 'segoe ui';
    color: #162252;
}


input{
    border-radius: 5px;
    height: 40px;
    flex: 1;
}
label{
    height: 40px;
    margin-right: 30px;
    background-color: #162252;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    color: #fff;;
    text-align: center;
    padding-top: 20px;
    outline: none;
    
}

.field{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

}

form{
    margin: 0px auto;
    width: 50%;
}

#submit{
    display: block;
    flex: 50%;
    justify-self: center;
    max-width: 50%;
    align-self: center;
    margin: 0 auto;
    
}

#shop{
    
}
